html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description", content=description)
    title #{title}
    link(rel="stylesheet" href="reset.css")
    link(rel="stylesheet" href="style.css")

  body
    header
      h1 Hello Wizard world
      h2 Let's discover the spell...
    section
      h3 #{spell.incantation}
      p The spell effect: #{spell.effect}
    footer
      p Made by myself in #{new Date().getFullYear()}